body {
    background-color: rgb(92, 45, 180);
    font: normal 15pt arial;
    color: white;
}

header {
    text-align: center;
}

section {
    color: black;
    text-align: left;
    background-color: thistle;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 50%;
    margin: auto;
}

p {
    padding: 10px;
}

footer {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0%;
    font-style: italic;
}